<h2>Here are all the people in our DataBase</h2>
<table>
	<% @users.each do |user| %>
	<% next if user == @user %>
	
	<tr>
		<td><%= user.name %></td>
		<% if @followed_users.include?(user)  %>
			<td><%= link_to "UNFOLLOW", user_followings_url(user), :method => :delete %></td>
		<% else %>
			<td><%= link_to "FOLLOW", user_followings_url(user), :method => :post %></td>
		<% end %>
	</tr>
	<% end %>
</table>